*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}
.row {
  background: #141414;
  
  
}
.navbar {
  background: linear-gradient(to left, #002d80 0%, #04daf7 100%);
  border-style: dotted;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
 
}

.top {
  clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),calc(50% + 50.00px) calc(100% - 50px),50% 100%,calc(50% - 50.00px) calc(100% - 50px),0 calc(100% - 50px));
}
.bottom {
  clip-path: polygon(0 0,calc(50% - 4.14px - 50.00px) 0,50% calc(50px + 4.14px),calc(50% + 4.14px + 50.00px) 0,100% 0,100% 100%,0 100%);
  margin-top: -40px;
}

.navbar__menu {

  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80xp;
}

.navbar__links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  color: #141414;
  font-weight: bolder;
}

.navbar__links:hover {
  color: #23f0ff;
  transition: all 0.3s ease;

}

.navbar__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  
  
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #f77062;
  color: #fff;

}

.button:hover {
  color: #f77062;
  transition: all 0.3s ease;
}

@media screen and(max-width:960px) {
  .navbar__container{
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 80px;
  width: 100%;
  z-index: 1;
  max-width: 1300px;
}

.navbar__menu{
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  width: 100%;
  position: absolute;
  top: -1000px;
  opacity: 0;
  transition: all 0.5s ease;
  height: i50vh;
  z-index: -1;
  background: #131313;
}
.navbar__menu.active {
  background: #131313;
  top: 100%;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 99;
  height: 50vh;
  font-size: 1.6rem;
}
  
}

.navbar__toggle.bar {

  width: 25PX;
  height: 3PX;
  margin: 5PX auto;
  transition: all 0.3s ease-in-out;
  background: #FFF;
}

.navbar__item {
  width: 100%;
}

#mobile-menu {
  position: absolute;
  top: 20%;
  right: 5%;
  transform: translate(50%, 20%);
}

.navbar__btn {
  padding-bottom: 2rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80px;
  margin: 0;
}

.navbar__toggle.bar {
  display: block;
  cursor: pointer;
}

#mobile-menu.is-active.bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active.bar:nth-child(2) {
transform: translateY(-8px) rotate(-45deg);
}



/*hero section*/

.main {
  background-color: #141414;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 70vh;
  background-color: #141414;
  z-index: 1;
  width: 80%;
  max-width: 1300px;
  padding: 0 100px;
}

.main__content h1 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #002d80 0%, #04daf7 100% );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content h2 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #7621ff 0%, #21d4fd 100% );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.main__btn {
  font-size: 1rem;
  background-image: linear-gradient( to top, #002d80 0%, #04daf7 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: "  ";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #4837ff;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover  {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
  transition: all 0.35s ease;
}

.main__img--container {
  text-align: center;
}

#main__img {
  height: 90%;
  width: 90%;
  padding-bottom: 0%;
  border-radius: 100%;
  position: relative;

}

#other__img {
  height: 90%;
  width: 90%;
  height: 425px;
  width: 300;
  border-radius: 10%;
}

/* mobile response*/

@media screen and (max-width: 768px) {
  .main__container {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-items: center;
      justify-self: center;
      width: 100%;
      margin: 0 auto;
      height: 90vh;
  }
  .main__content{
      text-align: center;
      margin-bottom: 4rem;
  }
  
  .main__content h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
  }

  .main__content h2 {
      font-size: 3rem;
  }

  .main__content p {
      margin-top: 1rem;
      font-size: 1.5rem;
  }
@media screen and(max-width: 480px) {

  .main__content{
      text-align: center;
      margin-bottom: 4rem;
  }
  
  .main__content h1 {
      font-size: 2rem;
      margin-top: 3rem;
  }

  .main__content h2 {
      font-size: 2rem;
  }

  .main__content p {
      margin-top: 2rem;
      font-size: 1.5rem;
  }
  .main__btn {
      padding: 12px 36px;
      margin: 2.5rem 0;
  }
}
}

/* timeline */


.timeline {
  background: #141414;
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  /* border-style: dashed;
  border-color: #4837ff;
  border-left: #131313;
  border-right: #131313; */
  
}

.container{
  text-align: center;
  background-color: #141414;
  color: #fff;
  top: 10%; 
  padding: 50px;   
}



.timeline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #e6e6e6;
  left: 50%;
  margin-left: 0px;
}
@media screen and (max-width: 768px) {
  .timeline:before {
    margin-left: -64px;
  }
}
@media screen and (max-width: 480px) {
  .timeline:before {
    margin-left: -64px;
  }
}
@media screen and (max-width: 768px) {
  .timeline .timeline-heading {
    margin-bottom: 30px;
  }
}

.timeline-heading {
    text-align: center;
}


.timeline .timeline-heading > div h3 {
     
  display: inline-block;
  padding: 7px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  background-image: linear-gradient( to top, #002d80 0%, #04daf7 100%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .timeline .timeline-heading > div h3 {
    float: left;
    margin-bottom: 0;
  }
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .timeline > li {
    margin-bottom: 4em;
  }
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 45%;
  float: left;
  margin-bottom: 0;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .timeline > li > .timeline-panel {
    width: 85% !important;
  }
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-panel {
    width: 75% !important;
  }
  .timeline > li > .timeline-panel:before {
    top: 30px;
  }
  .timeline > li > .timeline-panel:after {
    top: 31px;
  }
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 44px;
  height: 44px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 49px;
  left: 50%;
  margin-left: -21px;
  background-color: #243997;
  z-index: 100;
  display: table;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
}
@media screen and (max-width: 992px) {
  .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
}
.timeline > li > .timeline-badge i {
  display: table-cell;
  vertical-align: middle;
  height: 44px;
  font-size: 18px;
}
.timeline > li.timeline-unverted {
  text-align: left;
}
@media screen and (max-width: 768px) {
  .timeline > li.timeline-unverted {
    text-align: left;
  }
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  color: #0a9caf;
  margin-top: 0;
}

.company {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  color: #6382bd ;
}

.timeline-body{
  color: rgb(225, 225, 238);
  text-align: left;

}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 60;
}

.timeline-body > p + p {
  margin-top: 50px;
}

@media (max-width: 992px) {
  ul.timeline:before {
    left: 90px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}



/* skills */



.skills-section{
padding-top: 20px;
background: #131313;

}

.skills-header{
  text-align: center;
  padding: 1rem;
  position: relative;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #002d80 0%, #04daf7 100% );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* .skills-header:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background-color: #f77062;
  border-radius: 2px;
} */

.skills-container{
  display: grid;
  grid-tempLate-columns: repeat(5, 1fr);
  justify-content:center;
  align-items:center;
  text-align: center;
  grid-gap:1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}
.skills-box{
  padding: 1rem;
  color: #fff;
  cursor:pointer;
}
.skills-box:hover > .skills-title: after, 
.skills-box:hover > .skills-title: before{
  width: 30px;
}
.skills-box:hover .skills-img{
  transform: translateX(-20px);
}

.skills-title{
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skills-title:after{
  content: '';
  position:absolute;
  bottom: 0;
  rigth: 50%;
  width:20px;
  height:4px;
  border-radius: 2px 0 0 2px;
  transition: .5s;
}

.skills-title:before{
  content: '';
  position:absolute;
  bottom: 0;
  left: 50%;
  width:100px;
  height:4px;

}

.skills-icons{
  width:50px;
  z-index:2;
}

.skills-img{
  width:90px;
  height:90px;
  position: relative;
  border-radius: 45px;
  background-color: rgb(186, 200, 238);
  display:flex;
  justify-content:center;
  align-items:center;
  transition: .5s;
}

.skills-img:after{
  content: '';
  position:absolute;
  top:0;
  left: 0;
  width:50%;
  height:90px;
  background: rgba(37, 42, 63, 0.5);
  border-radius: 45px 0 0 45px;
}
.skills-title h3{
  color: #ececec;
  margin-top: 0.5rem;
}
@media screen and (max-width:990px){
  .skills-container{
  grid-tempLate-columns: repeat(2, 1fr);
  padding: 2rem 50px;
  }
}

@media screen and (max-width:650px){
  .skills-container{
  grid-tempLate-columns:2fr;
  padding: 2rem 50px;
  }
}





/*projects*/

.projects {
  background: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.projects-header {
  text-align: center;
  background-color: #002d80;
  background-image: linear-gradient(to top, #002d80 0%, #04daf7 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;


}

.projects__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  height: 50vh;

}

.projects__card {
  margin: 2em;
  border-radius: 4em;
  flex-direction: row;
  -ms-grid-row-align: center;
  background-image: linear-gradient( to buttom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%);
  background-size: cover;
  position: relative;
  color: #fff;    
}


.projects__card:nth-child(2) {
  background-image: linear-gradient(to buttom , rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%);
  background-size: cover;
  position: relative;
}

.projects h2 {
  align-items: center;
  position: absolute;
  top: 350px;
  left: 30px;

}

/* .projects__card p {
  position: absolute;
  top: 400px;
  left: 30px;
}
  */


/* .projects__card button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: linear-gradient(to top, #002d80 0%, #04daf7 100%);
  position: absolute;
  top: 440px;
  left: 30px;
  font-size: 1rem;
  cursor: pointer;
} */

.projects__card:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .projects {
      height: 1600px;

  }

  .projects h1 {
      font-size: 2rem;
      margin-top: 12rem;
  }

  .projects__card {
      width: 300px;

  }
}

@media screen and (max-width: 480) {

  .projects {
      height: 1400px;
      
  }

  .projects h1 {
      font-size: 1.2rem;
  }

  .projects__card {
      width: 300px;

  }
}

/*footer*/


#socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50vh;
}

.section-heading {
  padding-bottom: 16rem;
  position: absolute;
  text-align: center;
  background-color: #002d80;
  background-image:linear-gradient(to left, #002d80 0%, #04daf7 100% );
  background-size: 100%;
  font-size: 2.5rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

}
#socials .socials-list {
  width: 100%;
  margin: 1.75em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  margin: 10rem;
}

#socials .socials-list .social-link {
  -webkit-box-shadow: 0px 0px 20px #131313;
  box-shadow: 0px 0px 20px #131313;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
   -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  position: relative;
}


#socials .socials-list .social-link .text {
  color: rgb(252, 252, 252);
  font-size: 1.1rem;
  -webkit-transition: color .15s ease;
  transition: color .15s ease;
  z-index: 20;
}

#socials .socials-list .social-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: #002d80;
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
  z-index: 10;
}

#socials .socials-list .social-link:hover::after {
  width: 100%;
}

#socials .socials-list .social-link:hover .text, #socials .socials-list .social-link:hover .icon {
  color: rgb(255, 255, 255);
}


@media screen and (max-width: 1650px) {
  #socials {
    padding: 5vh 10.5vw;
  }
}

@media screen and (max-width: 952px) {
  #socials .socials-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1em 2em;
  }


@media screen and (max-width: 552px) {
  #socials .socials-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1.5em 0;
  }
}


